<p>eyoooo new band !!!! :))))</p>
<form action="<%= bands_url %>" method="POST">
    <input type="name" name="band[name]" value="<% @band.name %>"> 
    <input type="submit" value=" New Band!!! 😎 " >
</form>